* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* CLASSE UTILITY */

.container {
    max-width: 1200px;
    margin: 10px auto;
}

.d-flex {
    display: flex;
}

.list {
    list-style-type: none;
}

.list li {
    display: inline-block;
    padding: 0 15px;
}

.list li a {
    color: white;
    text-decoration: none;
}

.between {
    justify-content: space-between;
}

.bottone {
    background-color: pink;
    border: 1px dashed black;
    margin: 20px 0;
    padding: 5px;
}

.center {
    justify-content: center;
    align-items: center;    
}

.center-riga {
    align-items: center;
    padding-left: 5px;
}

.center-riga-2 {
    align-items: center;
    padding-left: 120px;
}

/* FINE CLASSE UTILITY */


/* CLASSE UTILITY BACKGROUND COLOR */

.azzurro {
    background-color: rgb(126, 188, 188);
}

.blu {
    background-color: blue;
}

.grigia {
    background-color: gray;
}

.dark {
    background-color: rgb(50, 49, 49);
}

.rosa {
    background-color: pink;
}

.darkazz {
    background-color: rgb(5, 120, 186);
}

.verde {
    background-color: green;
}

.viola {
    background-color: blueviolet;
}

.arancione {
    background-color: orange;
}

/* FINE CLASSE UTILITY BACKGROUND COLOR */

/* CLASSE UTILITY COL- */

.col-15 {
    width: 15%;
    height: 40px;
    border: 1px dashed rgb(0, 0, 0);
}

.col-25 {
    width: 25%;
    height: 200px;
    border: 1px dashed rgb(255, 255, 255);
}

.col-30 {
    width: 30%;
    height: 200px;
    border: 1px dashed black;
}

.col-40 {
    width: 40%;
    height: 100px;
    border: 1px dashed black;
}

.col-60 {
    width: 60%;
    height: 100px;
    border: 1px dashed black;
}

.col-70 {
    width: 70%;
    height: 200px;
    border: 1px dashed black;
}

.col-70-2 {
    width: 70%;
    height: 40px;
    border: 1px dashed rgb(0, 0, 0);
}

.col-100 {
    width: 100%;
    height: 300px;
    border: 1px dashed black;
}

.col-100-2 {
    width: 100%;
    height: 250px;
    border: 1px dashed black;
}

/* FINE CLASSE UTILITY COL- */

/* CLASSE UTILITY PADDING */

.padding20 {
    padding: 20px 0;
}

.padding-header {
    padding: 5px 0;
}

.padding {
    padding: 5px 0 20px;
}

.padding-bottom {
    padding: 20px 0 3px;
    border-bottom: 10px solid rgb(126, 188, 188);
}

.padding-top {
    padding: 20px 0 0;
    border-top: 3px solid white;
}

/* FINE CLASSE UTILITY PADDING */